@model IEnumerable<Product>

@* @section Footer{
    <div>
        Footer for only Index
    </div>
} *@
<div class="row my-3">
     @foreach(Product product in Model){
        <div class="col-sm-12 col-md-4 col-lg-3 my-3">
            <partial name="_ProductCard" model="@product"/>
        </div>
        
    }
</div>
   

